.car{
    width:30vw;
    height:10vw;
    background-color: aqua;
    border: 5px green solid;
    padding:10px;
    margin: 20px 20px 20px 35vw;
    

}
body{
    background-color: antiquewhite;
}
h2{

    color: green;
    text-align: center;
}
p{
text-align: center;
}
h3{
    color: green;
    text-align: center;
    
}
.car:hover{
    background-color: pink;
}
.car:hover h3{
    background-color: blueviolet;
}
.car:hover{
    transform: scale(1);   /* by hovering to zoom out the thing */
}